<h3>{{ user.firstName }} {{ user.lastName }}</h3>
<ul>
  <li>Age: {{ user.age }}</li>
  <li>
    Address: {{ user.address.street }} {{ user.address.city }},
    {{ user.address.state }}
  </li>
</ul>
